* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 44px;
    font-weight: bold;
    color: black;
}

.logo span {
    color: red;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    flex-grow: 1;
}

.search-bar1 {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.category-dropdown1 {
    margin-left: 40px;
    padding: 10px;
    border: 3px solid #909bff;
    border-radius: 5px;
}

.search-button1 {
    margin-left: 5px;
    padding: 10px 15px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.search-button1:hover {
    background-color: #005bb5;
}
.category-dropdown1 {
    margin-left: 40px;
    padding: 10px;
    border: 3px solid #909bff;
    border-radius: 5px;
}



.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 20px;
    margin-left: 35%;
}
.form-container h2 {
    text-align: center;
    color: #0400ff;
    background-color: #00ff0d;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
}
.form-container label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
.form-container input, .form-container select, .form-container textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container button {
    background: #e67e22;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
    margin-top: 10px;
}
.form-container button:hover {
    background: #d35400;
}


/* footer */
/* footer  */

.footer {
    background-color: #222;
    color: white;
    padding: 40px 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    width: 25%;
    min-width: 200px;
}

.footer-column h3 {
    margin-bottom: 15px;
    font-size: 18px;
    border-bottom: 2px solid #ffcc00;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin: 8px 0;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.footer-column ul li a:hover {
    color: #ffcc00;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icons a {
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #ffcc00;
}

.copyright {
    text-align: center;
    background: #111;
    color: white;
    padding: 10px;
    font-size: 14px;
}